Package: com.wizages.weather
Name: Weather
Depends: mobilesubstrate, com.cpdigitaldarkroom.lydia (>= 0.0.2.4)
Version: 0.0.2
Architecture: iphoneos-arm
Description: A Awesome Custom Lydia View
Maintainer: wizage
Author: wizage
Section: Tweaks
