<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.wizages.weather</string>
			<key>PostNotification</key>
			<string>com.wizages.weather.settings</string>
			<key>key</key>
			<string>isCel</string>
			<key>label</key>
			<string>Celsius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.wizages.weather</string>
			<key>PostNotification</key>
			<string>com.wizages.weather.settings</string>
			<key>key</key>
			<string>colored</string>
			<key>label</key>
			<string>Colored Weather Icons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.wizages.weather</string>
			<key>PostNotification</key>
			<string>com.wizages.weather.settings</string>
			<key>key</key>
			<string>darkView</string>
			<key>label</key>
			<string>Dark View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.wizages.weather</string>
			<key>PostNotification</key>
			<string>com.wizages.weather.settings</string>
			<key>key</key>
			<string>blurEnabled</string>
			<key>label</key>
			<string>Blur Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>Weather</string>
</dict>
</plist>
